<ion-view hide-nav-bar="true">
    <ion-content>
    <!-- <iframe class='webPage' name= "SupportPage" src="http://ec2-52-17-11-97.eu-west-1.compute.amazonaws.com/"> -->
    <iframe class='webPage' name= "SupportPage" src="http://community.risebox.co">
   </iframe>
  </ion-content>
    <!--
    <h1>Support</h1>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Rechercher dans l'encyclopédie">
      </label>
    </div>

    <div class="list card">
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-thermometer"></i>
        Gestion climatique
        <i class="icon ion-chevron-right"></i>
      </a>

      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-erlenmeyer-flask"></i>
        Chimie de l'eau
        <i class="icon ion-chevron-right"></i>
      </a>

      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-leaf"></i>
        Cultures
        <i class="icon ion-chevron-right"></i>
      </a>

      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-waterdrop"></i>
        Poissons
        <i class="icon ion-chevron-right"></i>
      </a>

      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-wrench"></i>
        Maintenance
        <i class="icon ion-chevron-right"></i>
      </a>
    </div>

    <h3 class="center-text">Désolé les gars, là c'est urgent...</h3>
    <div class="row">
        <div class="col center-text">
          <a href="#" class="button button-outline button-assertive"><i class="icon ion-ios-telephone-outline"></i> &nbsp;Appeler l'équipe</a>
        </div>
        <div class="col center-text">
          <a href="#" class="button button-outline button-assertive"><i class="icon ion-ios-email-outline"></i> &nbsp;Mailer l'équipe</a>
        </div>
    </div>

    <button class="button button-stable button-outline button-block" ui-sref="about">
      A propos
    </button> -->

</ion-view>