<ion-view view-title="Connection">
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Mot de passe</span>
        <input type="password" ng-model="user.secret">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-royal" ng-click="registerDevice(user)">
        Se connecter
      </button>
    </div>
    <div class="card" ng-if="hasUpdate">
      <div class="item item-divider">
        Votre app n'est plus à jour
      </div>
      <div class="item item-text-wrap">
        <button class="button button-block button-royal" ng-click="updateApp()">
            Mettre à jour l'app
        </button>
      </div>
    </div>
    <progress max="100" value="{{progressPct}}" ng-if="showProgress"> </progress>
  </ion-content>
</ion-view>