<ion-view view-title="Boutique">
    <h1>Boutique</h1>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Rechercher dans toute la boutique">
      </label>
    </div>

    <div class="row">
        <div class="col">
            <div class="card" style="margin-bottom: 0px;margin-top: 0px;">
                <div class="item">
                    <h2 class="center-text">Graines</h2>
                </div>

                <div class="item item-image">
                    <img src="img/graines.jpg">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="margin-bottom: 0px;margin-top: 0px;">
                <div class="item">
                    <h2 class="center-text">Plants</h2>
                </div>

                <div class="item item-image">
                    <img src="img/plants.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card" style="margin-bottom: 0px;">
                <div class="item">
                    <h2 class="center-text">Nourriture poissons</h2>
                </div>

                <div class="item item-image">
                    <img src="img/nourriture.jpg">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="margin-bottom: 0px">
                <div class="item">
                    <h2 class="center-text">Accessoires</h2>
                </div>

                <div class="item item-image">
                    <img src="img/accessoires.jpg">
                </div>
            </div>
        </div>
    </div>

</ion-view>