<ion-view view-title="La lumière">

  <div style="margin-top: {{(headerSpace == 'big') ? '65px' : '24px'}};">
    &nbsp;
  </div>

  <div class="list">

    <div class="item item-divider">
      Couleur
    </div>
    <div class="item button-bar">
      <a class="button button-{{(light['upper_recipe'] == 'grow') ? 'positive' : 'stable'}}" ng-click="setLightRecipe('upper', 'grow')">
          <i class="icon ion-leaf"></i>&nbsp;Croissance
      </a>
      <a class="button button-{{(light['upper_recipe'] == 'bloom') ? 'royal' : 'stable'}}" ng-click="setLightRecipe('upper', 'bloom')">
          <i class="icon ion-ios-flower-outline"></i>&nbsp;Floraison
      </a>
      <a class="button button-{{(light['upper_recipe'] == 'chill') ? 'light' : 'stable'}}" ng-click="setLightRecipe('upper', 'chill')">
          <i class="icon ion-ios-eye-outline"></i>&nbsp;Réel
      </a>
    </div>
    <div class="item button-bar">
      <a class="button button-{{(light['lower_recipe'] == 'grow') ? 'positive' : 'stable'}}" ng-click="setLightRecipe('lower', 'grow')">    <i class="icon ion-leaf"></i>&nbsp;Croissance
      </a>
      <a class="button button-{{(light['lower_recipe'] == 'bloom') ? 'royal' : 'stable'}}" ng-click="setLightRecipe('lower', 'bloom')">
          <i class="icon ion-ios-flower-outline"></i>&nbsp;Floraison
      </a>
      <a class="button button-{{(light['lower_recipe'] == 'chill') ? 'light' : 'stable'}}" ng-click="setLightRecipe('lower', 'chill')">
          <i class="icon ion-ios-eye-outline"></i>&nbsp;Réel
      </a>
    </div>

    <div class="item item-divider">
      Ensoleillement
    </div>
    <div>
      <a class="item item-icon-left" ionic-timepicker input-obj="sunrisePickerObject">
        <i class="icon ion-ios-sunny-outline"></i>
        Levé du soleil
        <span class="item-note">
            <!-- <standard-time-no-meridian etime='sunrisePickerObject.inputEpochTime'></standard-time-meridian> -->
            {{light['sunrise']['hours'] + 'h' + light['sunrise']['minutes']}}
        </span>
      </a>
    </div>

    <div>
      <a class="item item-icon-left" ionic-timepicker input-obj="sunsetPickerObject">
        <i class="icon ion-ios-moon-outline"></i>
        Couché du soleil
        <span class="item-note">
            <!-- <standard-time-no-meridian etime='sunsetPickerObject.inputEpochTime'></standard-time-meridian> -->
            {{light['sunset']['hours'] + 'h' + light['sunset']['minutes']}}
        </span>
      </a>
    </div>

  <br /><br />

</ion-view>