<ion-view view-title="La lumière">

  <div style="margin-top: {{(headerSpace == 'big') ? '65px' : '24px'}};">
    &nbsp;
  </div>

  <div class="list">

    <div class="item item-divider">
      Couleur
    </div>
    <div class="item button-bar">
      <a class="button button-{{(light['upper_recipe'] == 'grow') ? 'positive' : 'stable'}}" ng-click="setLightRecipe('upper', 'grow')">
          <i class="icon ion-leaf"></i>&nbsp;Croissance
      </a>
      <a class="button button-{{(light['upper_recipe'] == 'bloom') ? 'royal' : 'stable'}}" ng-click="setLightRecipe('upper', 'bloom')">
          <i class="icon ion-ios-flower-outline"></i>&nbsp;Floraison
      </a>
    </div>
    <div class="item button-bar">
      <a class="button button-{{(light['lower_recipe'] == 'grow') ? 'positive' : 'stable'}}" ng-click="setLightRecipe('lower', 'grow')">    <i class="icon ion-leaf"></i>&nbsp;Croissance
      </a>
      <a class="button button-{{(light['lower_recipe'] == 'bloom') ? 'royal' : 'stable'}}" ng-click="setLightRecipe('lower', 'bloom')">
          <i class="icon ion-ios-flower-outline"></i>&nbsp;Floraison
      </a>
    </div>

    <div class="item item-divider">
      Ensoleillement
    </div>
    <div></div>
    <a class="item item-icon-left" href="#" ng-click="setLight('lower', 'bloom')">
      <i class="icon ion-ios-sunny-outline"></i>
      Levé du soleil
      <span class="item-note">
        9h30
      </span>
    </a>
    <a class="item item-icon-left" href="#" ng-click="setLight('lower', 'bloom')">
      <i class="icon ion-ios-moon-outline"></i>
      Couché du soleil
      <span class="item-note">
        21h00
      </span>
    </a>

  </div>

  <br /><br />

</ion-view>