<ion-view view-title="Comment tester l'eau">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" class="padding">
        <ion-slide>
            <br/>
            <h2 class="center-text">Bandelettes et carte</h2>
            <p>Préparez les bandelettes de test fournies avec votre Risebox ainsi que votre carte-mire</p>
            <img src="img/strip_tutorial/step1.jpg" class="center-block" height="270" alt="Préparez votre matériel">
        </ion-slide>
        <ion-slide>
            <br/>
            <h2 class="center-text">Plongez-la bandelette dans l'eau</h2>
            <p>Durant 3 secondes, puis égoutter la bandelette à l'horizontale</p>
            <img src="img/strip_tutorial/step2.jpg" class="center-block" height="270" alt="Plonger la bandelette">
        </ion-slide>
        <ion-slide>
          <br/>
          <h2 class="center-text">Placez la bandelette <br/>sur la mire</h2>
          <p>Puis attendez que le chronomètre se termine. Vous pourrez alors prendre une photo avec l'application</p>
          <img src="img/strip_tutorial/step3.jpg" class="center-block" height="270" alt="Poser sur la mire">
        </ion-slide>
        <ion-slide>
          <br/>
          <h2 class="center-text">Fini !</h2>
          <p>L'application traite les résultats, vous serez notifié quand les résultats sont connus</p>
        </ion-slide>
    </ion-slide-box>
    <!-- <button class="button center-block button-royal" ui-sref="tabs.chemistry-new-test">
      Quitter le tuto
    </button> -->
</ion-view>