<ion-view view-title="Comment tester l'eau">
    <h1>Comment tester l'eau ?</h1>
    <div class="list">
        <a class="item item-thumbnail-left" href="#">
          <p>1</p>
          <h2>Bandelettes et carte</h2>
          <p>préparez les bandelettes de test fournies avec votre Risebox ainsi que votre carte-mire</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <p>2</p>
          <h2>Plongez-la bandelette dans l'eau</h2>
          <p>Durant 3 secondes</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <p>3</p>
          <h2>Attendez 60 secondes</h2>
          <p>L'application vous affichera un minuteur, il faudra attendre</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <p>4</p>
          <h2>Prennez une photo</h2>
          <p>Positionnez la bandellette sur la mir eet prennez une photo</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <p>5</p>
          <h2>Fini !</h2>
          <p>l'applicaiton traite les résultats, vous serez notifié quand les résultats sont connus</p>
        </a>
    </div>
</ion-view>