<ion-view view-title="Tester votre eau" class="nna-content">
    <br/><br/><br/>
    <p class="center-text">Munissez-vous de votre bandellette test et trempez là dans l'eau pendant 2-3 secondes</p>
    <br/>
    <p class="center-text">Après avoir égoutté la bandellette à l'horizontale, lancez le chronomètre en appuyant sur le crhonomètre ci-dessous </p>
    <br/>
    <h3 class="center-text">{{remainingSeconds}}</h3>
    <button class="button center-block button-balanced" ng-click='runTimer()'>
      <i class="icon ion-ios-stopwatch-outline"></i>&nbsp;Démarrer le chrono
    </button>
</ion-view>