<ion-view view-title="Tester votre eau" class="nna-content">
    <br/><br/><br/>
    <p class="center-text">Munissez-vous de votre bandellette test et trempez là dans l'eau pendant 2-3 secondes</p>
    <br/><br/>
    <p class="center-text">Après avoir égoutté la bandellette à l'horizontale, lancez le chronomètre en appuyant sur le bouton ci-dessous </p>
    <br/><br/>
    <h2 class="center-text">{{remainingSeconds}}</h2>
    <br/><br/>
    <button class="button center-block button-balanced" ng-click='runTimer()'>
      <i class="icon ion-ios-stopwatch-outline"></i>&nbsp;Démarrer le chrono
    </button>
    <img id="imgCamera" ng-src="{{lastPhoto}}" style="max-width: 100%">
    <!-- <img id="imgCamera" ng-src="{{lastPhoto}}" style="max-width: 100%; display:none;"> -->
    <canvas id="canvas"></canvas>
    <canvas id="canvas2"></canvas>
</ion-view>