<ion-view view-title="Une pause s'impose">

  <div style="margin-top: {{(headerSpace == 'big') ? '65px' : '24px'}};">
    &nbsp;
  </div>

  <div class="list">
    <div class="item item-divider">
      Mettre en pause
    </div>

    <div class="item item-toggle">
      La lumière
      <span class="item-note assertive" ng-if="paused.lights.status">
        encore {{remainingNoLightMins}}
      </span>
      <span class="item-note" ng-if="!paused.lights.status">
        pour {{paused.lights.duration}} mins
      </span>
      <form>
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="paused.lights.status" ng-change="switchLightState()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </form>
    </div>

    <div class="item item-toggle">
      La totale (yc pompe)
      <span class="item-note assertive" ng-if="paused.full.status">
        encore {{remainingNoFullMins}}
      </span>
      <span class="item-note" ng-if="!paused.full.status">
        pour {{paused.full.duration}} mins
      </span>
      <form>
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="paused.full.status" ng-change="switchFullState()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </form>
    </div>

  </div>

</ion-view>
