<ion-view view-title="Cultures">

  <div style="margin-top: {{(headerSpace == 'big') ? '65px' : '24px'}};">
    &nbsp;
  </div>

  <div class="list">
    <div class="item item-divider">
      Météo
    </div>

    <div>
      <a class="item item-icon-left" ui-sref="tabs.metric-show({metric_key: 'ATEMP'})">
        <i class="icon ion-thermometer"></i>
        Température de l'air
        <span class="item-note">
            {{metrics['ATEMP'].value}}
        </span>
      </a>
    </div>

    <div>
      <a class="item item-icon-left" ui-sref="tabs.metric-show({metric_key: 'AHUM'})">
        <i class="icon ion-umbrella"></i>
        Humidité de l'air
        <span class="item-note">
            {{metrics['AHUM'].value}}
        </span>
      </a>
    </div>

    <div>
      <a class="item item-icon-left" ui-sref="tabs.metric-show({metric_key: 'UCYC'})">
        <i class="icon ion-ios-stopwatch-outline"></i>
        Durée entre marées Haut
        <span class="item-note">
            {{metrics['UCYC'].value}}
        </span>
      </a>
    </div>

    <div>
      <a class="item item-icon-left" ui-sref="tabs.metric-show({metric_key: 'LCYC'})">
        Bas
        <span class="item-note">
            {{metrics['LCYC'].value}}
        </span>
      </a>
    </div>

    <div class="item item-divider">
      Plantations
    </div>

    <div>
      <a class="item item-icon-left">
        <i class="icon ion-leaf"></i>
        Bac du haut
        <span class="item-note">
            Coming soon...
        </span>
      </a>
    </div>

    <div>
      <a class="item item-icon-left">
        Bac du bas
        <span class="item-note">
            Coming soon...
        </span>
      </a>
    </div>

  </div>

</ion-view>
