<ion-view name="box" view-title="Ma Risebox" class="box-content">
    <div class="row" style="padding: 20px">
        <div class="col"></div>
        <div class="col">
            <a class="button button-icon icon ion-ios-lightbulb royal center-block round-button" ui-sref="tabs.light-status"></a>
        </div>
        <div class="col"></div>
    </div>
    <div class="row" style="padding: 20px">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row" style="padding: 20px">
        <div class="col"></div>
        <div class="col">
            <a class="button button-icon icon ion-pause negative center-block round-button" ui-sref="tabs.pause-status"></a>
        </div>
        <div class="col"></div>
    </div>
    <div class="row" style="padding: 20px">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row" style="padding: 20px">
        <div class="col"></div>
        <div class="col">
            <a class="button button-icon icon ion-leaf balanced center-block round-button" ui-sref="tabs.growbed-status"></a>
        </div>
        <div class="col"></div>
    </div>
    <div class="row" style="padding: 20px">
        <div class="col"></div>
        <div class="col">
            <a class="button button-icon icon ion-waterdrop positive center-block round-button" ui-sref="tabs.tank-status"></a>
        </div>
        <div class="col">
        </div>
    </div>

</ion-view>